{% extends "admin/layout.html" %}

{% block title %}Users{%endblock%}

{% block body %}
<h2><span class="glyphicon glyphicon-user"></span> Users</h2>
<hr>

<div ng-app="" ng-controller="userController">
    <table class="table table-striped" id="users-tbl">
        <thead>
        <tr>
            <th>#</th>
            <th><a href="" ng-click="predicate = 'contact_name'; reverse=!reverse">Contact Name</a></th>
            <th><a href="" ng-click="predicate = 'email'; reverse=!reverse">E-mail</a></th>
            <th><a href="" ng-click="predicate = 'role_id'; reverse=!reverse">Role</a></th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | orderBy:predicate:reverse">
            {% raw %}
            <td>{{ user.id }}</td>
            <td>{{ user.contact_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            {% endraw %}
            <td>
                <button class="btn btn-primary" ng-click="editUser(user)">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="deleteUser(user)">
                    <span class="glyphicon glyphicon-pencil"></span>  Delete
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <form class="form-horizontal">
        <input type="hidden" ng-model="id">
        <div class="form-group">
            <label class="col-sm-2 control-label">Contact Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="contact_name" placeholder="Contact Name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email:</label>
            <div class="col-sm-10">
                <input type="email" ng-model="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Role:</label>
            <div class="col-sm-10">
                <select ng-model="role_id" ng-options="role.id as role.name for role in roles">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" ng-model="password">
            </div>
        </div>
    </form>
    <hr>
    <button class="btn btn-success" ng-click="createUser()">
        <span class="glyphicon glyphicon-save"></span> Create User
    </button>
    <button class="btn btn-success" ng-click="updateUser()">
        <span class="glyphicon glyphicon-ok-circle"></span> Update User
    </button>
    <button class="btn btn-success" ng-click="reset()">
        <span class="glyphicon glyphicon-refresh"></span> RESET
    </button>

</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
function userController($scope,$http) {
    var url_user = '/api/user'
    var token = '?token={{ session['logged_in'] }}'
    var url_role = '/api/role'

    $scope.id = '';
    $scope.contact_name = '';
    $scope.email = '';
    $scope.role_id = '';
    $scope.password = '';
    $http.get(url_user + token)
    .success(function(data) {
        $scope.users = data.objects;
    });
    $http.get(url_role + token)
    .success(function(data) {
        $scope.roles = data.objects;
    });

    $scope.predicate = 'contact_name';

    $scope.editUser = function(user) {
        $scope.contact_name = user.contact_name;
        $scope.email = user.email;
        $scope.role_id = user.role_id;
        $scope.id = user.id;
    };

    $scope.createUser = function() {
        var data = {
            contact_name: $scope.contact_name,
            email: $scope.email,
            password: $scope.password,
            role_id: $scope.role_id,
        };
        $http.post(url_user + token, data)
        .success(function(data, status, headers) {
            $http.get(url_user+token)
                        .success(function(data) {
                        $scope.users = data.objects;
                    });
        });
    };

    $scope.updateUser = function() {
        var data = {
            contact_name: $scope.contact_name,
            email: $scope.email,
            password: $scope.password,
            role_id: $scope.role_id,
        };
        $http.put(url_user + '/' + $scope.id + token, data)
            .success(function(data, status, headers) {
                    $http.get(url_user+token)
                        .success(function(data) {
                        $scope.users = data.objects;
                    });
            });
    };

    $scope.deleteUser = function(user) {
        var r = confirm('Are you sure !!');
        if (r == true) {
            $http.delete(url_user + '/' + user.id + token)
            .success(function(data, status, headers) {
                $scope.users.splice($scope.users.indexOf(user), 1)
            });
        }
    };

    $scope.reset = function() {
        $scope.contact_name = "";
        $scope.email = "";
        $scope.password = "";
        $scope.role_id = "";
    };
    $scope.reset();
}
</script>
{% endblock %}