<h3><span class="glyphicon glyphicon-briefcase"></span> Contest</h3>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Contest Title:</label>

        <div class="col-sm-10">
            <input type="hidden" ng-model="id">
            <input type="text" ng-model="title" class="form-control" placeholder="Contest Title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Contest Description:</label>

        <div class="col-sm-10">
            <textarea ng-model="description" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Home page:</label>

        <div class="col-sm-10">
            <textarea ng-model="home_text" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Participation page:</label>

        <div class="col-sm-10">
            <textarea ng-model="participation_text" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Thank you page:</label>

        <div class="col-sm-10">
            <textarea ng-model="thanks_text" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Copyrights:</label>

        <div class="col-sm-10">
            <textarea ng-model="copyrights_text" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Background Image:</label>

        <div class="col-sm-10">
            <input type="file" ng-model="copyrights_text" class="form-control"/>
        </div>
    </div>
</form>
