{% extends "admin/layout.html" %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/admin/builder.js') }}"></script>
{%endblock %}

{% block title %}{%endblock%}

{% block body %}
<h2><span class="glyphicon glyphicon-star"></span> Contests</h2>
<div class="table-responsive" ng-app="" ng-controller="contestController">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contest in contests | orderBy:predicate:reverse">
            {% raw %}
            <td>{{ contest.id }}</td>
            <td>{{ contest.title }}</td>
            {% endraw %}
            <td>
                <button class="btn btn-primary" ng-click="editContest(contest)">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="deleteContest(contest)">
                    <span class="glyphicon glyphicon-pencil"></span>  Delete
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

    <hr>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#contest" data-toggle="tab">Contest</a></li>
        <li><a href="#builder" data-toggle="tab">Contest Builder</a></li>
        <li><a href="#social" data-toggle="tab">Social Network</a></li>
        <li><a href="#campaign" data-toggle="tab">Campaign Monitor</a></li>
    </ul>

    <div class="tab-content">
        <div id="contest" class="tab-pane fade active in">
            {% include "admin/contest/contest.html" ignore missing %}
        </div>
        <div id="builder" class="tab-pane fade">
            {% include "admin/contest/builder.html" ignore missing %}
        </div>
        <div id="social" class="tab-pane fade">
            {% include "admin/contest/social.html" ignore missing %}
        </div>
        <div id="campaign" class="tab-pane fade">
            {% include "admin/contest/campaigns.html" ignore missing %}
        </div>
    </div>

    <hr>
    <button class="btn btn-success" ng-click="createContest()">
        <span class="glyphicon glyphicon-save"></span> Create Contest
    </button>
    <button class="btn btn-success" ng-click="updateContest()">
        <span class="glyphicon glyphicon-ok-circle"></span> Update Contest
    </button>
    <button class="btn btn-success" ng-click="reset()">
        <span class="glyphicon glyphicon-refresh"></span> RESET
    </button>

</div>

<script type="text/javascript">
function contestController($scope,$http) {
    var url_contest = '/api/contest'
    var token = '?token={{ session['logged_in'] }}'
    $scope.id = '';
    $scope.title = '';
    $http.get(url_contest + token)
    .success(function(data) {
        $scope.contests = data.objects;
    });

    $scope.predicate = 'title'

    $scope.editContest = function(contest) {
        $scope.title = contest.title;
        $scope.id = contest.id;
    };

    $scope.createContest = function() {
        var data = { title: $scope.title };
        $http.post(url_contest + token, data)
        .success(function(data, status, headers) {
            $http.get(url_contest + token)
                        .success(function(data) {
                        $scope.contests = data.objects;
                    });
        });
    };

    $scope.updateContest = function() {
        var data = { title: $scope.title };
        $http.put(url_contest + '/' + $scope.id + token, data)
            .success(function(data, status, headers) {
                    $http.get(url_contest+token)
                        .success(function(data) {
                        $scope.contests = data.objects;
                    });
            });
    };

    $scope.deleteContest = function(contest) {
        var r = confirm('Are you sure !!');
        if (r == true) {
            $http.delete(url_contest + '/' + contest.id + token)
            .success(function(data, status, headers) {
                $scope.contests.splice($scope.contests.indexOf(contest), 1)
            });
        }
    };

    $scope.reset = function() {
        $scope.title = "";
    };

    $scope.reset();
}
</script>
{% endblock %}

