{% extends "admin/layout.html" %}

{% block title %}Roles{%endblock%}

{% block body %}
<h2>Roles</h2>
<div>
    <a href="{{url_for('roles')}}" class="btn btn-success">Add New Role</a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
        <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td><a href="{{url_for('roles_modify', role_id=role.id)}}" class="btn btn-primary">Modify</a></td>
            <td><a href="{{url_for('roles_modify', role_id=role.id)}}" class="btn btn-warning"
                   onclick="return confirm('Are you sure !!');">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
{% endblock %}