{% extends "admin/layout.html" %}

{% block title %}Roles{%endblock%}

{% block body %}
<h2><span class="glyphicon glyphicon-bookmark"></span> Roles</h2>
<hr>
<div ng-app="" ng-controller="roleController">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Role Name</a></th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="role in roles | orderBy:predicate:reverse">
            {% raw %}
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            {% endraw %}
            <td>
                <button class="btn btn-primary" ng-click="editRole(role)">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </td>
            <td>
                <button class="btn btn-warning" ng-click="deleteRole(role)">
                    <span class="glyphicon glyphicon-pencil"></span>  Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Role Name:</label>

            <div class="col-sm-10">
                <input type="hidden" ng-model="id">
                <input type="text" ng-model="name" placeholder="Role Name">
            </div>
        </div>
    </form>
    <hr>
    <button class="btn btn-success" ng-click="createRole()">
        <span class="glyphicon glyphicon-save"></span> Create Role
    </button>
    <button class="btn btn-success" ng-click="updateRole()">
        <span class="glyphicon glyphicon-ok-circle"></span> Update Role
    </button>
    <button class="btn btn-success" ng-click="reset()">
        <span class="glyphicon glyphicon-refresh"></span> RESET
    </button>
</div>

<script>
function roleController($scope,$http) {
    var url_role = '/api/role'
    var token = '?token={{ session['logged_in'] }}'
    $scope.id = '';
    $scope.name = '';
    $http.get(url_role + token)
    .success(function(data) {
        $scope.roles = data.objects;
    });

    $scope.predicate = 'name'

    $scope.editRole = function(role) {
        $scope.name = role.name;
        $scope.id = role.id;
    };

    $scope.createRole = function() {
        var data = { name: $scope.name };
        $http.post(url_role + token, data)
        .success(function(data, status, headers) {
            $http.get(url_role+token)
                        .success(function(data) {
                        $scope.roles = data.objects;
                    });
        });
    };

    $scope.updateRole = function() {
        var data = { name: $scope.name };
        $http.put(url_role + '/' + $scope.id + token, data)
            .success(function(data, status, headers) {
                    $http.get(url_role+token)
                        .success(function(data) {
                        $scope.roles = data.objects;
                    });
            });
    };

    $scope.deleteRole = function(role) {
        var r = confirm('Are you sure !!');
        if (r == true) {
            $http.delete(url_role + '/' + role.id + token)
            .success(function(data, status, headers) {
                $scope.roles.splice($scope.roles.indexOf(role), 1)
            });
        }
    };

    $scope.reset = function() {
        $scope.name = "";
    };
    $scope.reset();
}

</script>
{% endblock %}

{% block javascript %}
{% endblock %}